# Kaggle Survey Dataset

## Dataset

In [2]:
import pandas as pd
import numpy as np
import zipfile
import os

In [3]:
folder = r"C:\Users\akhil\Personal\Projects\repo\datasets\data"
zipname = "kaggle-survey-2018.zip"
file = "multipleChoiceResponses.csv"

In [4]:
with zipfile.ZipFile(os.path.join(folder, zipname)) as z_:
    df = pd.read_csv(z_.open(file), low_memory=False)

In [5]:
df.shape

(23860, 395)

## EDA

In [5]:
dict(zip(df.head().columns, df.head().iloc[0].values))

{'Time from Start to Finish (seconds)': 'Duration (in seconds)',
 'Q1': 'What is your gender? - Selected Choice',
 'Q1_OTHER_TEXT': 'What is your gender? - Prefer to self-describe - Text',
 'Q2': 'What is your age (# years)?',
 'Q3': 'In which country do you currently reside?',
 'Q4': 'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
 'Q5': 'Which best describes your undergraduate major? - Selected Choice',
 'Q6': 'Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
 'Q6_OTHER_TEXT': 'Select the title most similar to your current role (or most recent title if retired): - Other - Text',
 'Q7': 'In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice',
 'Q7_OTHER_TEXT': 'In what industry is your current employer/contract (or your most recent employer if retired)? - Other - Text',
 'Q8': 'How many years of experience do you have in your current role?',
 'Q9': 'What is your current yearly compensation (approximate $USD)?',
 'Q10': 'Does your current employer incorporate machine learning methods into their business?',
 'Q11_Part_1': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions',
 'Q11_Part_2': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows',
 'Q11_Part_3': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
 'Q11_Part_4': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas',
 'Q11_Part_5': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning',
 'Q11_Part_6': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work',
 'Q11_Part_7': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other',
 'Q11_OTHER_TEXT': 'Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text',
 'Q12_MULTIPLE_CHOICE': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Selected Choice',
 'Q12_Part_1_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text',
 'Q12_Part_2_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text',
 'Q12_Part_3_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text',
 'Q12_Part_4_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Local or hosted development environments (RStudio, JupyterLab, etc.) - Text',
 'Q12_Part_5_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text',
 'Q12_OTHER_TEXT': 'What is the primary tool that you use at work or school to analyze data? (include text response) - Other - Text',
 'Q13_Part_1': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Jupyter/IPython",
 'Q13_Part_2': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - RStudio",
 'Q13_Part_3': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - PyCharm",
 'Q13_Part_4': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Visual Studio Code",
 'Q13_Part_5': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - nteract",
 'Q13_Part_6': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Atom",
 'Q13_Part_7': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - MATLAB",
 'Q13_Part_8': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Visual Studio",
 'Q13_Part_9': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Notepad++",
 'Q13_Part_10': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Sublime Text",
 'Q13_Part_11': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Vim",
 'Q13_Part_12': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - IntelliJ",
 'Q13_Part_13': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Spyder",
 'Q13_Part_14': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - None",
 'Q13_Part_15': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Other",
 'Q13_OTHER_TEXT': "Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Other - Text",
 'Q14_Part_1': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Kaggle Kernels',
 'Q14_Part_2': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Google Colab',
 'Q14_Part_3': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Azure Notebook',
 'Q14_Part_4': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Domino Datalab',
 'Q14_Part_5': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Google Cloud Datalab',
 'Q14_Part_6': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Paperspace',
 'Q14_Part_7': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Floydhub',
 'Q14_Part_8': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Crestle',
 'Q14_Part_9': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - JupyterHub/Binder',
 'Q14_Part_10': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - None',
 'Q14_Part_11': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Other',
 'Q14_OTHER_TEXT': 'Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Other - Text',
 'Q15_Part_1': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Google Cloud Platform (GCP)',
 'Q15_Part_2': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Amazon Web Services (AWS)',
 'Q15_Part_3': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Microsoft Azure',
 'Q15_Part_4': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - IBM Cloud',
 'Q15_Part_5': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Alibaba Cloud',
 'Q15_Part_6': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - I have not used any cloud providers',
 'Q15_Part_7': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Other',
 'Q15_OTHER_TEXT': 'Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Other - Text',
 'Q16_Part_1': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python',
 'Q16_Part_2': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R',
 'Q16_Part_3': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL',
 'Q16_Part_4': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Bash',
 'Q16_Part_5': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Java',
 'Q16_Part_6': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Javascript/Typescript',
 'Q16_Part_7': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Visual Basic/VBA',
 'Q16_Part_8': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C/C++',
 'Q16_Part_9': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB',
 'Q16_Part_10': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Scala',
 'Q16_Part_11': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Julia',
 'Q16_Part_12': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Go',
 'Q16_Part_13': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C#/.NET',
 'Q16_Part_14': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - PHP',
 'Q16_Part_15': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Ruby',
 'Q16_Part_16': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SAS/STATA',
 'Q16_Part_17': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - None',
 'Q16_Part_18': 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Other',
 'Q16_OTHER_TEXT': 'What programming languages do you use on a regular basis? (Select all that apply) - Other - Text',
 'Q17': 'What specific programming language do you use most often? - Selected Choice',
 'Q17_OTHER_TEXT': 'What specific programming language do you use most often? - Other - Text',
 'Q18': 'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice',
 'Q18_OTHER_TEXT': 'What programming language would you recommend an aspiring data scientist to learn first? - Other - Text',
 'Q19_Part_1': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Scikit-Learn',
 'Q19_Part_2': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - TensorFlow',
 'Q19_Part_3': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Keras',
 'Q19_Part_4': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - PyTorch',
 'Q19_Part_5': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Spark MLlib',
 'Q19_Part_6': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - H20',
 'Q19_Part_7': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Fastai',
 'Q19_Part_8': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Mxnet',
 'Q19_Part_9': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Caret',
 'Q19_Part_10': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Xgboost',
 'Q19_Part_11': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - mlr',
 'Q19_Part_12': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Prophet',
 'Q19_Part_13': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - randomForest',
 'Q19_Part_14': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - lightgbm',
 'Q19_Part_15': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - catboost',
 'Q19_Part_16': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - CNTK',
 'Q19_Part_17': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Caffe',
 'Q19_Part_18': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - None',
 'Q19_Part_19': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Other',
 'Q19_OTHER_TEXT': 'What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Other - Text',
 'Q20': 'Of the choices that you selected in the previous question, which ML library have you used the most? - Selected Choice',
 'Q20_OTHER_TEXT': 'Of the choices that you selected in the previous question, which ML library have you used the most? - Other - Text',
 'Q21_Part_1': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - ggplot2',
 'Q21_Part_2': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Matplotlib',
 'Q21_Part_3': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Altair',
 'Q21_Part_4': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Shiny',
 'Q21_Part_5': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - D3',
 'Q21_Part_6': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Plotly',
 'Q21_Part_7': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Bokeh',
 'Q21_Part_8': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Seaborn',
 'Q21_Part_9': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Geoplotlib',
 'Q21_Part_10': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Leaflet',
 'Q21_Part_11': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Lattice',
 'Q21_Part_12': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - None',
 'Q21_Part_13': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - Other',
 'Q21_OTHER_TEXT': 'What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Other - Text',
 'Q22': 'Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Selected Choice',
 'Q22_OTHER_TEXT': 'Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Other - Text',
 'Q23': 'Approximately what percent of your time at work or school is spent actively coding?',
 'Q24': 'How long have you been writing code to analyze data?',
 'Q25': 'For how many years have you used machine learning methods (at work or in school)?',
 'Q26': 'Do you consider yourself to be a data scientist?',
 'Q27_Part_1': 'Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice - AWS Elastic Compute Cloud (EC2)',
 'Q27_Part_2': 'Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice - Google Compute Engine',
 'Q27_Part_3': 'Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice - AWS Elastic Beanstalk',
 'Q27_Part_4': 'Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice - Google App Engine',

In [6]:
df_ = df.copy(deep=True)

In [20]:
df['Q4'].value_counts()

Masters degree                                                                                                    10855
Bachelors degree                                                                                                   7083
Doctoral degree                                                                                                     3357
Some college/university study without earning a bachelors degree                                                    967
Professional degree                                                                                                  599
I prefer not to answer                                                                                               345
No formal education past high school                                                                                 232
What is the highest level of formal education that you have attained or plan to attain within the next 2 years?        1
Name: Q4, dtype: int64

In [15]:
df['Q5'].value_counts()

Computer science (software engineering, etc.)                       9430
Engineering (non-computer focused)                                  3705
Mathematics or statistics                                           2950
A business discipline (accounting, economics, finance, etc.)        1791
Physics or astronomy                                                1110
Information technology, networking, or system administration        1029
Medical or life sciences (biology, chemistry, medicine, etc.)        871
Other                                                                770
Social sciences (anthropology, psychology, sociology, etc.)          554
Humanities (history, literature, philosophy, etc.)                   269
Environmental science or geology                                     253
I never declared a major                                             128
Fine arts or performing arts                                          87
Which best describes your undergraduate major? - Selected Choice       1
Name: Q5, dtype: int64

In [16]:
df['Q26'].value_counts()

Probably yes                                        4893
Definitely yes                                      4684
Maybe                                               4184
Probably not                                        3162
Definitely not                                      1557
Do you consider yourself to be a data scientist?       1
Name: Q26, dtype: int64

In [17]:
df['Q6'].value_counts()

Student                                                                                                    5253
Data Scientist                                                                                             4137
Software Engineer                                                                                          3130
Data Analyst                                                                                               1922
Other                                                                                                      1322
Research Scientist                                                                                         1189
Not employed                                                                                                842
Consultant                                                                                                  785
Business Analyst                                                                                            772
Data Engineer                                                                                               737
Research Assistant                                                                                          600
Manager                                                                                                     590
Product/Project Manager                                                                                     428
Chief Officer                                                                                               360
Statistician                                                                                                237
DBA/Database Engineer                                                                                       145
Developer Advocate                                                                                          117
Marketing Analyst                                                                                           115
Salesperson                                                                                                 102
Principal Investigator                                                                                       97
Data Journalist                                                                                              20
Select the title most similar to your current role (or most recent title if retired): - Selected Choice       1
Name: Q6, dtype: int64

In [19]:
df['Q17'].value_counts()

Python                                                                         8180
R                                                                              2046
SQL                                                                            1211
Java                                                                            903
C/C++                                                                           739
C#/.NET                                                                         432
Javascript/Typescript                                                           408
MATLAB                                                                          355
SAS/STATA                                                                       228
PHP                                                                             191
Visual Basic/VBA                                                                135
Other                                                                           117
Scala                                                                           106
Bash                                                                             59
Ruby                                                                             55
Go                                                                               46
Julia                                                                            11
What specific programming language do you use most often? - Selected Choice       1
Name: Q17, dtype: int64

## Cleanup

In [298]:
df = df_.copy(deep=True)

In [299]:
columns = {
    'Q1': 'gender',
    'Q2': 'age',
    'Q3': 'country',
    'Q4': 'education',
    'Q5': 'major',
    'Q8': 'years_exp',
    'Q9': 'compensation',
    'Q10': 'ml_used',
    'Q16_Part_1': 'python',
    'Q16_Part_2': 'r',
    'Q16_Part_3': 'sql',    
    # 'Q17': 'pref_lang',    
    'Q6': 'target'
}

In [300]:
df = df.iloc[1:].filter(columns).rename(columns=columns).reset_index(drop=True)

In [301]:
df.head()

,gender,age,country,education,major,years_exp,compensation,ml_used,python,r,sql,target
0,Female,45-49,United States of America,Doctoral degree,Other,NaN,NaN,I do not know,NaN,NaN,NaN,Consultant
1,Male,30-34,Indonesia,Bachelors degree,Engineering (non-computer focused),5-10,"10-20,000",No (we do not use ML methods),NaN,NaN,SQL,Other
2,Female,30-34,United States of America,Masters degree,"Computer science (software engineering, etc.)",0-1,"0-10,000",I do not know,NaN,R,NaN,Data Scientist
3,Male,35-39,United States of America,Masters degree,"Social sciences (anthropology, psychology, soc...",NaN,NaN,NaN,Python,R,SQL,Not employed
4,Male,22-24,India,Masters degree,Mathematics or statistics,0-1,"0-10,000",I do not know,NaN,NaN,SQL,Data Analyst

In [312]:
df.gender = df.gender.apply(str.lower)

In [302]:
df.age = df.age.apply(lambda x: x.replace("+", '').split('-')[0]).astype(int)

In [303]:
df.years_exp = df.years_exp.fillna('0').apply(lambda x: x.replace("+", '').split('-')[0]).astype(float)

In [304]:
df.compensation = df\
                    .compensation\
                    .fillna('0')\
                    .apply(lambda x: x.replace('+', '').replace(',', '').replace("500000","500").split('-')[0])\
                    .replace("I do not wish to disclose my approximate yearly compensation", 0)\
                    .astype(int)\
                    .mul(1_000)

In [305]:
ctry = [
    df.country == 'United States of America',
    df.country == 'India'
]

c_values = [
    "usa", "india"
]

df.country = np.select(ctry, c_values, 'other')

In [306]:
df.major = df.major.where(df.major.isin(df.major.value_counts().index[:3]), 'Other')

major = [
    df.major == 'Computer science (software engineering, etc.)',
    df.major == 'Engineering (non-computer focused)',
    df.major == 'Mathematics or statistics'
]

m_values = [
    "cs", "eng", "stat"
]

df.major = np.select(major, m_values, 'other')

In [307]:
edu_conditions = [
    df.education == 'Masters degree',
    df.education == 'Bachelors degree',
    df.education == 'Doctoral degree',
    df.education == 'Some college/university study without earning a bachelors degree',
    df.education == 'Professional degree',
    df.education == 'I prefer not to answer',
    df.education == 'No formal education past high school'
]

edu_values = [
    '30',
    '20',
    '40',
    '10',
    '35',
    None,
    '5'
]

df.education = np.select(edu_conditions, edu_values, None)
df.education = df.education.fillna(0).astype(int)

In [308]:
ml_conditions = [
    df.ml_used == 'I do not know',
    df.ml_used == 'No (we do not use ML methods)',
    df.ml_used == 'We are exploring ML methods (and may one day put a model into production)',
    df.ml_used == 'We have well established ML methods (i.e., models in production for more than 2 years)',
    df.ml_used == 'We recently started using ML methods (i.e., models in production for less than 2 years)',
    df.ml_used == 'We use ML methods for generating insights (but do not put working models into production)',
]

ml_values = [
    'No',
    'No',
    'Yes',
    'Yes',
    'Yes',
    'Yes',
]

df.ml_used = np.select(ml_conditions, ml_values, 'No')

In [309]:
df.python = df.python.fillna(0).replace("Python", 1).astype(int)
df.r = df.r.fillna(0).replace("R", 1).astype(int)
df.sql = df.sql.fillna(0).replace("SQL", 1).astype(int)

In [313]:
data = df\
    .query("country.isin(['usa', 'india']) and target.isin(['Data Scientist', 'Software Engineer'])")\
    .reset_index(drop=True).copy(deep=True)

In [314]:
data

,gender,age,country,education,major,years_exp,compensation,ml_used,python,r,sql,target
0,female,30,usa,30,cs,0.0,0,No,0,1,0,Data Scientist
1,male,40,usa,30,eng,5.0,125000,Yes,1,0,1,Data Scientist
2,male,40,india,20,eng,10.0,0,Yes,1,1,0,Software Engineer
3,male,40,usa,40,cs,10.0,400000,Yes,1,0,0,Software Engineer
4,male,18,india,20,cs,0.0,0,No,1,0,0,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...
2738,male,18,india,30,cs,0.0,0,No,0,0,0,Software Engineer
2739,female,25,india,30,cs,3.0,0,Yes,1,0,1,Software Engineer
2740,female,25,india,20,cs,0.0,0,No,0,0,0,Software Engineer
2741,male,22,india,30,eng,1.0,0,Yes,0,0,0,Software Engineer
2742,male,30,india,30,cs,5.0,0,Yes,0,0,0,Data Scientist

## Pipeline

In [1]:
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

from feature_engine import encoding, imputation
from sklearn import base, pipeline
from sklearn import model_selection

In [34]:
def tweak_dataset(raw: pd.DataFrame) -> pd.DataFrame:
    """
    Preprocess pipeline for kaggle-survey-2018
    :param raw: Input DataFrame
    :return data: Outputs DataFrame
    """

    columns = {
        'Q1': 'gender',
        'Q2': 'age',
        'Q3': 'country',
        'Q4': 'education',
        'Q5': 'major',
        'Q8': 'years_exp',
        'Q9': 'compensation',
        'Q10': 'ml_used',
        'Q16_Part_1': 'python',
        'Q16_Part_2': 'r',
        'Q16_Part_3': 'sql',
        # 'Q17': 'pref_lang',    
        'Q6': 'target'
    }
    
    # raw: pd.DataFrame = raw.iloc[1:].filter(columns).rename(columns=columns).reset_index(drop=True)
    
    raw: pd.DataFrame = raw.filter(columns).rename(columns=columns).reset_index(drop=True)
        
    raw.gender = raw.gender.apply(str.lower)
    raw.age = raw.age.apply(lambda x: x.replace("+", '').split('-')[0]).astype(np.int64)

    raw.years_exp = raw.years_exp.fillna('0').apply(lambda x: x.replace("+", '').split('-')[0])
    raw.years_exp = np.where(raw.years_exp == 0, np.nan, raw.years_exp)
    raw.years_exp = raw.years_exp.astype(np.int64)

    raw.python = raw.python.fillna(0).replace("Python", 1).astype(int)
    raw.r = raw.r.fillna(0).replace("R", 1).astype(int)
    raw.sql = raw.sql.fillna(0).replace("SQL", 1).astype(int)

    raw.compensation = raw \
        .compensation \
        .fillna('0') \
        .apply(lambda x: x.replace('+', '').replace(',', '').replace("500000", "500").split('-')[0]) \
        .replace("I do not wish to disclose my approximate yearly compensation", 0) \
        .astype(int) \
        .mul(1_000)

    # Country
    country = [
        raw.country == 'United States of America',
        raw.country == 'India'
    ]
    c_values = ["usa", "india"]
    raw.country = np.select(country, c_values)

    # Major
    raw.major = raw.major.where(raw.major.isin(raw.major.value_counts().index[:3]), 'Other')
    major = [
        raw.major == 'Computer science (software engineering, etc.)',
        raw.major == 'Engineering (non-computer focused)',
        raw.major == 'Mathematics or statistics'
    ]
    m_values = ["cs", "eng", "stat"]
    raw.major = np.select(major, m_values, None)
    raw.major = raw.major.fillna("other").astype(object)

    # Education
    edu_conditions = [
        raw.education == 'Masters degree',
        raw.education == 'Bachelors degree',
        raw.education == 'Doctoral degree',
        raw.education == 'Some college/university study without earning a bachelors degree',
        raw.education == 'Professional degree',
        raw.education == 'I prefer not to answer',
        raw.education == 'No formal education past high school'
    ]
    edu_values = [
        '30',
        '20',
        '40',
        '10',
        '35',
        None,
        '5'
    ]
    raw.education = np.select(edu_conditions, edu_values, 0)
    raw.education = np.where(raw.education == 0, np.nan, raw.years_exp)
    raw.education = raw.education.astype(np.int64)

    # ML Used
    ml_conditions = [
        raw.ml_used == 'I do not know',
        raw.ml_used == 'No (we do not use ML methods)',
        raw.ml_used == 'We are exploring ML methods (and may one day put a model into production)',
        raw.ml_used == 'We have well established ML methods (i.e., models in production for more than 2 years)',
        raw.ml_used == 'We recently started using ML methods (i.e., models in production for less than 2 years)',
        raw.ml_used == 'We use ML methods for generating insights (but do not put working models into production)',
    ]
    ml_values = [
        'No',
        'No',
        'Yes',
        'Yes',
        'Yes',
        'Yes',
    ]
    raw.ml_used = np.select(ml_conditions, ml_values, None)
    raw.ml_used = raw.ml_used.fillna('No').astype(object)

    return raw

In [35]:
class Transformer(base.BaseEstimator, base.TransformerMixin):

    """
    Transformer class - data pipeline cleaner
    We need to implement fit & transform for extended classes

    Parameters
    ----------
    y_col: str, optional
        Name of the column to be used as target variable.

    Attributes
    ----------
    y_col: str, optional
        Name of the column to be used as target variable.
    """

    def __init__(self, y_col: str = None):
        self.y_col = y_col

    def transform(self, X):
        return tweak_dataset(X)

    def fit(self, X, y=None):
        return self

In [52]:
def get_features_and_labels(df: pd.DataFrame, y_labels: list[str]) -> (pd.DataFrame, pd.DataFrame):

    """
    Separate Features and Labels from raw dataset prior to preprocessing
    :param df:
    :param y_labels:
    :return: X, y
    """

    data: pd.DataFrame = df \
        .copy(deep=True)\
        .query("Q3.isin(['United States of America', 'India']) and Q6.isin(['Data Scientist', 'Software Engineer'])") \
        .reset_index(drop=True)

    return data.drop(columns=y_labels), data[y_labels]

In [53]:
def setup_pipeline() -> None:

    file: str = r'datasets/multipleChoiceResponses.csv'
    df: pd.DataFrame = pd.read_csv(file, low_memory=False)

    # tweak_dataset(df).to_pickle(r'datasets/output.p.gz', compression='gzip')

    category: list[str] = ["gender", "country", "major", "ml_used"]
    impute: list[str] = ["age", "education", "years_exp"]
    pipe: pipeline.Pipeline = pipeline.Pipeline(
        [
            ('transform', Transformer()),
            ('categorical', encoding.OneHotEncoder(top_categories=5, drop_last=True, variables=category)),
            ('int_impute', imputation.MeanMedianImputer(imputation_method='median', variables=impute))
        ]
    )

    X, y = get_features_and_labels(df, ['Q6'])
    X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=.3, random_state=42, stratify=y)

    X_train = pipe.fit_transform(X_train, y_train)
    X_test = pipe.transform(X_test)

    return X_train, X_test, y_train, y_test

In [54]:
X_train, X_test, y_train, y_test = setup_pipeline()

In [55]:
X_train

,age,education,years_exp,compensation,python,r,sql,gender_male,gender_female,gender_prefer not to say,gender_prefer to self-describe,country_usa,country_india,major_cs,major_other,major_eng,major_stat,ml_used_Yes,ml_used_No
0,55,30,30,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1
1,30,2,2,100000,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0
2,18,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0
3,30,5,5,90000,1,0,1,1,0,0,0,1,0,1,0,0,0,1,0
4,30,5,5,150000,1,0,1,1,0,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,22,1,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1,0
1916,25,3,3,10000,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0
1917,25,5,5,10000,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0
1918,25,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1
1919,25,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0

In [56]:
y_train

                     Q6
1909  Software Engineer
261      Data Scientist
2445     Data Scientist
497      Data Scientist
570      Data Scientist
...                 ...
88    Software Engineer
239   Software Engineer
807   Software Engineer
2392     Data Scientist
215   Software Engineer

[1920 rows x 1 columns]

## Correlations

### !pip install jinja2 --upgrade
### !pip install matplotlib --upgrade

In [41]:
from random import choice
import matplotlib

In [42]:
available_cmaps =('viridis', 'plasma', 'inferno', 'magma', 'cividis',
        'PiYG', 'PRGn', 'BrBG', 'PuOr', 'Spectral', 'RdBu',
        'gist_ncar', 'nipy_spectral', 'terrain', 'prism', 'ocean')
random_cmap = choice(available_cmaps)

X_train\
    .assign(ds=y_train=='Data Scientist')\
    .corr(method='spearman')\
    .style\
    .background_gradient(cmap='RdBu', vmax=1, vmin=-1)\
    .set_sticky(axis='index')

## Sneak peak into RFC

In [43]:
from sklearn import ensemble

In [89]:
rf = ensemble.RandomForestClassifier(random_state=42, max_depth=5, n_estimators=100)

In [90]:
rf.fit(X_train, y_train.Q6.reset_index(drop=True))

RandomForestClassifier(max_depth=5, random_state=42, warm_start=True)

In [91]:
rf.score(X_test, y_test.reset_index(drop=True))

0.7424058323207776

In [67]:
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}